.back {
    background: var(--black-color);
    
    
    .app__navbar {
        position: fixed;
        
        z-index: 2;
        
        width: 80%;
        height: 50px;
        top: 25px;
        left: 10%;
        
        
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background: rgba(255,255,255,0.25);
        
        -webkit-backdrop-filter: blur(4px);
        
        -webkit-border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        
    }

    .app__navbar-Click {
        
        position: fixed;
        
        z-index: 2;
        
        width: 80%;
        height: 100px;
        top: 25px;
        left: 10%;

        .app__navbar-social {
            display: flex;
            align-items: flex-start;
        }
        
        
        
        
        display: flex;
        justify-content: space-between;
        //align-items: center;
        padding: 1rem 2rem;
        background: rgba(255,255,255,0.25);
        
        -webkit-backdrop-filter: blur(4px);
        
        -webkit-border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        .menu {
            height: 50px;
            width: 75%;
            left: 12.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            //-webkit-backdrop-filter: none;
            background: rgba(19, 18, 18, 0);

            background-color: none;

            border: 0 solid rgba(68, 203, 0, 0.18);
            align-items: center;
            justify-content: center;

            ul {

                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                transition: all 0.3s ease-in-out;

                li {
                    &:hover {
                
                        color: var(--black-color);
                        
                        
                    }
                }
            }
        }

        
    }

    @media screen and (max-width: 400px) {
        top: 5%;
    }
}







.app__navbar-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    image-rendering: optimizeQuality;

    
    div {
        
      background: rgba(255,255,255,0.0);
      margin: 0.25rem;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      transition: all 0.3s ease-in-out;
  
      svg {
        width: 30px;
        height: 20px;
        color: var(--white-color);
        cursor: pointer;
      }
  
      &:hover {
        
        .one {
            transition: all 0.3s ease-in-out;
            color: rgb(98, 98, 246)
        }

        .two {
            transition: all 0.3s ease-in-out;
            color: rgb(28, 224, 103)
        }
        
  
        svg {
          color: var(--white-color);
        }
      }
  
      @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
  
        margin: 0.5rem 0;
  
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
    img {
        width: 100px;
        height: 60px;
        

        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 120px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;


        a {
            color: var(--white-color);
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            flex-direction: column;
            text-transform:  uppercase;
            font-weight: 500;
            
            
            
            &:hover {
                
                color: var(--black-color);
                padding: 5px;
                background-color: rgba(255,255,255,0.5);
                border-radius: 10px;
                
                
            }

            
            
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width: 900px){
        display:none
    }

}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .svg1 {
        width: 70%;
        height: 70%;
        color: var(--white-color);
        cursor: pointer;

        &:hover {
                
            color: var(--black-color);
            transition: all 0.3s ease-in-out;
            padding: 5px;
            background-color: rgba(255,255,255,0.5);
            border-radius: 5px;
            
            
        }
    }

    .svg2 {
        width: 70%;
        height: 70%;
        color: var(--white-color);
        cursor: pointer;

        &:hover {
                
            color: var(--black-color);
            transition: all 0.3s ease-in-out;
            padding: 5px;
            background-color: rgba(255,255,255,0.5);
            border-radius: 5px;
            
            
        }
    }



    div {

        
        position: fixed;
        top: 4.5rem;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 80%;
        height: 100px;
        
        display: none;
        justify-content: center;
        align-items: flex-end;
        //flex-direction: ;

        
        
        background-color: var(--white-color);
        
        //border-radius: 1rem;
        
        //box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
        margin-right: 10%;

        background: rgba(255,255,255,0.25);
        
        -webkit-backdrop-filter: blur(4px);
        
        -webkit-border-radius: 10px;

        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            //cursor: pointer;
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 1rem;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            //align-items: center;
            flex-direction: row;

            li {
                margin: 2rem;
                

                a {
                    color: var(--grey-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: lowercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                
                    &:hover {
                        color: var(--secondary-color);
                        text-transform: uppercase;
                    }
                }

                @media screen and (max-width: 750px) {
                    margin: 1rem;
                }

                @media screen and (max-width: 700px) {
                    margin: 0.5rem;
                }

                @media screen and (max-width: 450px) {
                    margin: 0.2rem;
                }

                @media screen and (max-width: 365px) {
                    margin: 0.15rem;
                }
            }


        }

        @media screen and (min-width: 900px) {
            display: none;
        }

    }

    @media screen and (min-width: 900px) {
        display: none;
    }


}