.header-container{
    color: var(--white-color);
    padding-top: 2rem;
    .header-name{
        display: flex;
        margin: 0 auto;
        justify-content: left;
        //text-align: right;
        width: 50%;
        
    }

    .header-text{

    }
}